<!DOCTYPE html>
<html>
<head>
    <title>PokeStats</title>

    <link rel="stylesheet" href="css/stylesheets.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">



    <script type="text/javascript" src="js/angularapp.js"></script>
    <script type="text/javascript" src="js/config.js"></script>
    <script type="text/javascript" src="js/controllers/controllers.js"></script>
    <script type="text/javascript" src="js/services/services.js"></script>
</head>
<body ng-app="app" ng-cloak>
    <div class="header">
        <div ui-view>

        </div>
    </div>

    <div class="body">
        <div ui-view>

        </div>
    </div>

</body>
</html>